<p style="color: green"><%= notice %></p>

<%= render @todo %>

<div>
  <%= link_to t('todos.show.edit'), edit_todo_path(@todo) %> |
  <%= link_to t('todos.show.back'), todos_path %>

  <%= button_to t('todos.show.destroy'), @todo, method: :delete %>
</div>
